@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,800&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.body-login {
    background-image: url('../../assets/login-test-background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.main-login {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.header-login {
    height: 100px;
    width: 100%;
    background-color: black; 
    margin-bottom: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
} 

.login-logo {
    position: absolute;
    width: 150px;
    height: 150px;
    margin-right: 1200px;
}

.login-logo:hover {
    cursor: pointer;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    height: 500px;
    width: 500px;
    background-color: rgba(71, 91, 172, 0.7);
    /* background-color: black; */
    margin: none;
    border-radius: 20px;
    margin-bottom: 60px;
    padding: 30px 0px 30px 0px;

}

.login-inputs {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    color: black;
}

.login-container h2 {
    /* text-align: left; */
    /* margin-right: 100px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%; /* Esto es una prueba nojoa */
    color: white;
    font-size: 35px;
    margin-bottom: 30px;
}

.login-inputs input {
   height: 50px; 
   width: 300px;
   border: solid 1px white;
   border-radius: 5px;
   padding-left: 15px;
   font-size: 16px;
   background: none;
   color: white;
}

.login-inputs input:focus {
    border: solid 3px white;
}

.btn-iniciar-sesion {
    height: 50px;
    width: 320px;
    border: none;
    border-radius: 5px;
    background-color: #23CAEE;
    color: white;
    font-size: 16px;
    margin-bottom: -3px;
}

.btn-iniciar-sesion:hover {
    background-color: #0b97b6;
    cursor: pointer;
}

.login-inputs p {
    color: #343434; /* REVISAR */
    font-size: 16px;
}

.login-inputs a {
    color: white;
    text-decoration: none;
    margin-bottom: 15px;
}

.login-inputs a:hover {
    text-decoration: underline;
    color: #343434;
}

.recuerdame {
    font-size: 16px;
    display: flex;
    color: white;
    gap: 10px;
    margin-right: 190px;
    margin-bottom: 15px;
}

.recuerdame input {
    width: 18px;
    height: 18px;
}




