.header-subject {
    width: 100%;
    height: 80px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    border-top: solid 5px #23CAEE;
    background-color: white;
}

.logo-subject {
    width: 80px;
    height: 80px;
    margin-left: 40px;
}

.subject-title {
    font-weight: bold;
    position: absolute;
    margin-left: 120px;
}

.ul-container-subjects {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
    margin-left: 600px;
    width: 460px;
    /* border: solid 1px black; */
    height: 100%;
}

.ul-container-subjects li {
    list-style: none;
}

.ul-container-subjects li a {
    text-decoration: none;
    color: black;
}

.ul-container-subjects li a:hover {
    text-decoration: underline;
}

.profile-subject {
    border-radius: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50px;
    height: 50px;
    border: solid 1px #c4c4c4;
}

.profile-username-subject {
    color: gray;
}

.profile-username-subject:hover {
    text-decoration: underline;
    cursor: pointer;
}

.boton-subject {
    margin-right: 40px;
    width: 120px;
    height: 40px;
    color: white;
    background-color: #23CAEE;
    border: none;
    border-radius: 10px;
}

.boton-subject:hover {
    cursor: pointer;
    background-color: #0b97b6;
    transform: scale(1.1);
    transition: all ease-in-out 0.2s;
}