.header-subject {
    width: 100%;
    height: 80px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    border-top: solid 5px black;
    background-color: white;
}

.logo-subject {
    width: 80px;
    height: 80px;
    margin-left: 40px;
}

.subject-title {
    font-weight: bold;
    position: absolute;
    margin-left: 120px;
}

.ul-container-subjects {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    gap: 20px;
    margin-left: 600px;
    width: 40%;
    height: 100%;
}

.ul-container-subjects li {
    list-style: none;
}

.ul-container-subjects li a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.ul-container-subjects li a:hover {
    text-decoration: underline;
}

.profile-subject {
    border-radius: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50px;
    height: 50px;
    border: solid 1px #c4c4c4;
}

.profile-username-subject {
    color: gray;
}

.profile-username-subject:hover {
    text-decoration: underline;
    cursor: pointer;
}

.btn-sub {
    background: none;
  border: 2px solid black;
  font-family: "montserrat",sans-serif;
  text-transform: uppercase;
  padding: 12px 20px;
  min-width: 100px;
  margin: 10px;
  cursor: pointer;
  transition: color 0.4s linear;
  position: relative;
  z-index: 1;
  color: black;
   margin-right: 40px;
    margin-left: 20px; 
}

.btn-sub:hover {
    color: white;
}

.btn-sub::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: black;
    z-index: -1;
    transition: transform 0.5s;
    transform-origin: 0 0;
    transition-timing-function: cubic-bezier(0.5,1.6,0.4,0.7);
}

.boton-subject::before {
    transform: scaleX(0);
}

.boton-subject:hover::before {
    transform: scaleX(1);
}