.aside-activity {
    /* background-color: #23CAEE; */
    background-color: transparent;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 15px;
    /* border: solid 1px #0b97b6; */
    border: none;
    border-radius: 10px;
}

.aside-activity:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition: all ease-in-out 0.2s;
}

.activity-description {
    width: 70%;
    display: flex;
    flex-direction: column;
}

.activity-description:hover {
    cursor: pointer;
    color: #505050;
}

.activity-description p {
    display: flex;
    font-size: 12px;
}

.activity-title {
    display: flex;
    flex-direction: column;    
    justify-content: center;
    text-overflow: ellipsis;
}

.activity-image {
    width: 40px;
    height: 40px;
}