.actividades-body {
    background-image: url('../../assets/Pnk_m1_blur_darked.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.actividades-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}