.register-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../../../assets/pruebafondo2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.register-box {
    width: 400px;
    height: 500px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    backdrop-filter: blur(30px);
    color: #fff;
}

.register-box h3 {
    font-weight: bold;
    margin-bottom: 20px;
}

.register-box form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
}

.register-box form label {
    width: 100%;
    font-weight: 500;
}

.register-box form input {
    width: 100%;
    margin-bottom: 15px;
    border: none;
    border-bottom: 2px solid #fff;
    padding: 0px 0px 0px 5px;
    background-color: transparent;
    color: #fff;
    height: 30px;
    outline: none;
}

.register-box button {
    width: 100%;
    border: none;
    border-radius: 5px;
    background-color: #23CAEE;
    transition: all ease-in-out .3s;
    font-weight: bold;
    color: white;
    height: 50px;
}

.register-box button:hover {
    background-color: #0b97b6;
    cursor: pointer;
}

