.header-index {
    width: 100%;
    height: 80px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    /* border-bottom: solid 5px rgb(161,161,161); */
    border-bottom: solid 5px white;
    background-color: black;
    z-index: 1000;
}

.header-index h2 {
    color: white;
}

.logo-overview {
    width: 80px;
    height: 80px;
    margin-left: 40px;
}

.ludebra-title {
    font-weight: bold;
    position: absolute;
    margin-left: 120px;
}

.btn-index {
  background: none;
  border: 2px solid white;
  font-family: "montserrat",sans-serif;
  text-transform: uppercase;
  padding: 12px 20px;
  min-width: 100px;
  margin: 10px;
  cursor: pointer;
  transition: color 0.4s linear;
  position: relative;
  z-index: 1;
  color: white;
}

.btn-index:hover {
    color: black;
}

.btn-index::before {
    content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: white;
  z-index: -1;
  transition: transform 0.5s;
  transform-origin: 0 0;
  transition-timing-function: cubic-bezier(0.5,1.6,0.4,0.7);
}

.boton-header-index-login::before{
    transform: scaleX(0);
}

.boton-header-index-login:hover::before {
    transform: scaleX(1);
}

.boton-header-index-register::before{
    transform: scaleX(0);
}

.boton-header-index-register:hover::before {
    transform: scaleX(1);
}