/* UpdateUserInfo.css */
.allupdate-container {
    background-image: url('../../../assets//landing/parallax1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}
.updateuser-container {
    width: 600px;
    height: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
  
.updateuser-title {
    text-align: center;
    color: white;
    margin-bottom: 20px;
}
  
.updateuser-form-group {
    margin-bottom: 15px;
}
  
.updateuser-label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}
  
.updateuser-input[type="text"],
.updateuser-input[type="email"],
.updateuser-input[type="file"] {
    width: 100%;
    padding: 10px;
    border: 1px solid white;
    border-radius: 4px;
    box-sizing: border-box;
}
  
.updateuser-button {
    width: 100%;
    padding: 10px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.3s ease-in-out;
}
  
.updateuser-button:hover {
    background-color: white;
    border: solid 1px black;
    color: black;
}