.create-task-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url('../../../assets/Pnk_m1_blur_darked.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.create-task-form {
    width: 500px;
    height: 500px;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    border-radius: 20px;
}

.create-task-form form {
    display: flex;
    justify-self: center;
    align-items: center;
    flex-direction: column;
    width: 70%;
} 

.create-task-form form p{
    width: 100%;
}

.create-task-form form input {
    width: 100%;
    height: 30px;
    border-radius: 10px;
    border: none;
    outline: none;
    padding-left: 10px;
    margin-bottom: 20px;
}

.create-task-form form button {
    width: 100%;
    height: 30px;
    border-radius: 10px;
    outline: none;
    padding-left: 10px;
    margin-bottom: 20px;
    background-color: white;
    border: solid 1px black;
    color: black;
    transition: all ease-in-out 0.2s;
}

.create-task-form form button:hover {
    cursor: pointer;
    background-color: black;
    color: white;
    border: solid 1px white;
}