.cookies-body {
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 80px;
    bottom: 0;
    background-color: rgba(247, 153, 29, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cookies-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.selector-cookies {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 10px;
}

.selector-cookies button {
    font-weight: bold;
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 5px;
    background-color: #7ed9ee;
    color: black;
}

.selector-cookies button:hover {
    cursor: pointer;
    background-color: #0b97b6;
    transition: all ease-in-out 0.2s;
}