.view-html {
    height: 100vh;
    overflow: hidden;
}

.view-body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    background-color: #222;
    perspective: 1px;
    transform-style: preserve-3d;
    overflow-x: hidden;
    overflow-y: scroll;
}

.view-section1, .view-section2 {
    width: 100%;
    min-height: 100vh;
    position: relative;
    transform-style: preserve-3d;
}
.view-section1::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background: url('../../../assets/blank-files/parallaxbg.jpg') top center;
    background-size: cover;
    transform: translateZ(-1px) scale(2.2);
    filter: blur(2px);
}
.view-section1::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background: url('../../../assets/blank-files/parallaxfbg.png') top center;
    background-size: cover;
}
.view-section1 .view-text {
    top: -10%;
    transform: translateZ(-0.5px) scale(1.5, 1.6) translate(-33%, 10%);
}
.view-section2 {
    background-color: black;
}

.view-text {
    top: 30%;
    left: 50%;
    position: absolute;
    font-family: 'Franklin Gothic Heavy';
    font-size: 15vw;
    color: rgb(161,161,161);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3),
    5px 5px 70px rgba(255, 255, 255, 0.5);
    transform: scale(1, 1.1) translate(-50%, 10%);
}





::-webkit-scrollbar {
    width: 3px; /* Width of the scrollbar */
    height: 1px; /* Height of the scrollbar for horizontal scrolling */
}

::-webkit-scrollbar-track {
    background: transparent; /* Background of the scrollbar track */
}

::-webkit-scrollbar-thumb {
    background: white; /* Color of the scrollbar thumb */
    border-radius: 10px; /* Rounding corners */
}

::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color of the scrollbar thumb when hovered */
}



