.body-index {
    background-color: white;
}

.boton {
    margin-right: 40px;
    width: 120px;
    height: 40px;
    color: white;
    background-color: #23CAEE;
    border: none;
    border-radius: 10px;
}

.boton:hover {
    cursor: pointer;
    background-color: #0b97b6;
    transform: scale(1.1);
    transition: all ease-in-out 0.2s;
}











