@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,800&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.notfound-body {
    background-image: url('../../assets/Pnk_m1_blur_darked.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.notfound-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}