.slider-container {
    width: 100px;
    height: 300px; /* Altura mayor para un slider vertical */
    position: relative;
}
  
.slider {
    width: 100px; /* Ancho menor para un slider vertical */
    height: 100%;
    position: absolute;
    top: 0;
    transform: rotate(270deg); /* Rotación para hacer el slider vertical */
}


  